@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

html, body {
    height: 100%;
}

body {
    min-height: 100vh; 
    background-image: linear-gradient(to bottom, #9FC131, #DBF227); 
    background-attachment: fixed;
    font-family: "Work Sans", sans-serif;
}

main{
    background-color: white;
    width: 600px;
    padding: 50px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #005C53;
}

.foto{
    float: right;
    display: block;
    width: 75px;
    height: 75px;
    object-fit: cover; 
    border-radius: 50%; 
    margin: 0 0 10px 15px; 
}

h1{
    color: #9FC131;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(56, 68, 15, 0.576);
    font-size: 2em;
    font-family: "Kaushan Script", cursive;
}

h2{
    color:#005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #04443ea1;
    font-size: 1.5em;
    font-family: "Kaushan Script", cursive;
    /* espaçamento maior entre títulos h2 */
    margin: 80px 0 0 0;
}

h3{
    color: #042940;
    position: relative; 
    padding-left: 36px;
    margin: 0.8em 0;
    display: block;
}

.basico::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: #9FC131;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.intermed::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: yellow;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.avanc::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

p{
    text-align: justify;
}

div > p {
    display: none;
}

div:hover > p{
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    font: italic bolder 2em 'work sans', sans-serif;
}

.cont{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.box{
    background-color: white;
    text-align: center;
    height: 300px;
    width: 230px;
    border-radius: 10%;
    box-shadow: 5px 5px 15px #005C53;
    
}

.box:hover{
    background-color: #D6D58E;
}